{% extends "base/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/index/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/index/style.css" %}">
    <style>
        @keyframes d1 {
            from {
                color: white;
            }
            to {
                color: #343a40;
            }
        }

        .display-1 {
            animation: d1 2s ease-in-out;
        }
    </style>
{% endblock %}
{% block js %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}
{% block contain %}
    <div class="row" style="height: 100%;">
        <div class="col" style="height: 100%;">
            <h1 class="display-1 text-center font-italic"
                style="position: relative;top: 40%; transform: translateY(-50%)">Trojan-web</h1>
        </div>
    </div>
{% endblock %}
